.error-message {
  display: flex;
  align-items: center;
  display: none;
  color: var(--danger);
  font-size: 0.875rem;
  margin-top: 0.5rem;
  gap: 0.5rem;

  img {
    width: 14px;
    height: 14px;
  }
}
