.container-kind {
  background-color: var(--input-base);
  min-height: 3rem;
  border-radius: 0.5rem;
  padding: 0.25rem;
  gap: 0.25rem;

  .container-radio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    z-index: 2;
    margin-bottom: 0;

    input {
      position: absolute;
      opacity: 0;
      width: 1px;
      height: 1px;
      margin: 0;
      padding: 0;
      z-index: -1;
    }

    img {
      width: 0.895625rem;
      height: 0.895625rem;
    }

    span {
      font: var(--Body-Sm);
      color: var(--text-body);
    }

    &:hover span {
      color: var(--text-heading);
    }

    &:hover {
      background-color: var(--shape-button);
    }

    &:has(input:focus-visible) {
      background-color: var(--shape-button);
    }

    &:has(input:focus-visible) span {
      color: var(--text-heading);
    }

    &:has(input:focus) {
      background-color: var(--shape-button);
    }

    &:has(input:focus) span {
      color: var(--text-heading);
    }
  }
}
