.input-two {
  width: 100%;

  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
  }

  input[type="datetime-local"] {
    color: var(--input-placeholder);
  }
}
