.paleta-cores {
  legend {
    font: var(--Body-Sm);
    color: #fff;
    margin-bottom: 1rem;
  }
}

.cores {
  display: flex;
  gap: 1.11125rem;
}

.cor-item {
  position: relative;
}

.cor-item input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.swatch {
  display: block;
  padding: 0.375rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  background-color: var(--shape-button);
}

.swatch::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
}

.swatch.navy::after {
  background-color: #6a59ff;
}
.swatch.purple::after {
  background-color: #b259ff;
}
.swatch.fuschia::after {
  background-color: #ff59f9;
}
.swatch.pink::after {
  background-color: #ff598b;
}
.swatch.pink::after {
  background-color: #ff598b;
}
.swatch.danger::after {
  background-color: #ff5959;
}
.swatch.danger::after {
  background-color: #ff5959;
}
.swatch.orange::after {
  background-color: #ff8b59;
}
.swatch.yellow::after {
  background-color: #ffcd59;
}
.swatch.lime::after {
  background-color: #e1ff59;
}
.swatch.green::after {
  background-color: #59ff91;
}
.swatch.cyan::after {
  background-color: #59fff9;
}

.cor-item input[type="radio"]:checked + .swatch {
  border-color: var(--brand-light);
}
