main {
  background-color: var(--shape-body);
  padding: 5rem 8.125rem;

  .main-container {
    width: 100%;
    gap: 2.5rem;
    h1 {
      text-align: center;
      font: var(--Heading-Md);
      color: var(--text-heading);
    }
  }
}